@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    font-family: "Open Sans", serif;

}
.Image-schedule{
    display: flex;
    .Image{

    }
    .Schedule-content{
        display: flex;
        flex-direction: column;
        .Schedule-heading{
            max-width: 518px;
            font-weight: bold;
        }
        .Countdown{
            display: flex;
            max-width: 288px;
            justify-content: space-between;
            .Timer{
                height: 61px;
                width: 62px;
                background-color: white;
                span{
                    display: block;
                    width: 60px;
                    height: 39px;
                    background-color: #eff1f5;
                    font-size: 24px ;
                    font-weight: 700;
                }
            }

        }
        .Schedule-details{
            font-size: 18px;
            font-weight: 700;
        }
        .Description{
            font-size: 15px;
        }
        
    }
}

