@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    font-family: "Open Sans", serif;

}
.Image-schedule{
    display: flex;
<<<<<<< HEAD
<<<<<<< HEAD
    .Image{
=======
=======
>>>>>>> master
    flex-direction: row;
    padding: 40px;
    gap: 40px;
    justify-content: center;
    
    

    .Img{
        max-width: 380px;

<<<<<<< HEAD
>>>>>>> f2d3e47 (UI Almost finished)
=======
>>>>>>> master

    }
    .Schedule-content{
        display: flex;
        flex-direction: column;
<<<<<<< HEAD
<<<<<<< HEAD
        .Schedule-heading{
            max-width: 518px;
=======

        .Schedule-heading{
            max-width: 520px;
>>>>>>> f2d3e47 (UI Almost finished)
=======

        .Schedule-heading{
            max-width: 520px;
>>>>>>> master
            font-weight: bold;
        }
        .Countdown{
            display: flex;
            max-width: 288px;
            justify-content: space-between;
            .Timer{
                height: 61px;
                width: 62px;
                background-color: white;
<<<<<<< HEAD
<<<<<<< HEAD
=======
                text-align: center;
                border: rgba(128, 128, 128, 0.288) solid 1px;
                border-radius: 5px;
>>>>>>> f2d3e47 (UI Almost finished)
=======
                text-align: center;
                border: rgba(128, 128, 128, 0.288) solid 1px;
                border-radius: 5px;
>>>>>>> master
                span{
                    display: block;
                    width: 60px;
                    height: 39px;
                    background-color: #eff1f5;
                    font-size: 24px ;
                    font-weight: 700;
<<<<<<< HEAD
<<<<<<< HEAD
=======
                    text-align: center;
>>>>>>> f2d3e47 (UI Almost finished)
=======
                    text-align: center;
>>>>>>> master
                }
            }

        }
        .Schedule-details{
<<<<<<< HEAD
<<<<<<< HEAD
            font-size: 18px;
            font-weight: 700;
        }
        .Description{
            font-size: 15px;
=======
=======
>>>>>>> master
            display: inline;
            
            
        }
        .Description{
            font-size: 15px;
            max-width: 518px;
<<<<<<< HEAD
>>>>>>> f2d3e47 (UI Almost finished)
=======
>>>>>>> master
        }
        
    }
}

